{% extends 'base.html.twig' %}
{% block content %}
    <h1>Résultat de la recherche</h1>
    {# {{ dump () }} #}
    {% for personne in personnes %}
        {{ personne.nom }} <br>
    {% endfor %}
{% endblock %}