{% extends 'base.html.twig' %}
{% block content %}
    <h1>Résultat de la recherche</h1>
    {# {{ dump (data) }} #}
    <ul>
        {% for personne in personnes %}
            <li><a href="{{ path('app_arbre', { 'id': personne.id}) }}"> {{ personne.nom}} {{ personne.prenom }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}