{% extends 'base.html.twig' %}
{% block content %}
    <h1>Résultat de la recherche</h1>
    {# {{ dump (data) }} #}
    {% for personne in personnes %}
        {{ personne.nom}} {{ personne.prenom }} <br>
    {% endfor %}
{% endblock %}