{% extends 'base.html.twig' %}
{% block content %}
    <h1>Commencer votre arbre généalogique</h1>
    {# {{ dump (data) }} #}
    {{ form_start(form) }}
        
    {{ form_end(form) }}
{% endblock %}