form.addAncetors {
  display: none;
}

form.editAncetors {
  display: none;
}

form.addPartner {
  display: none;
}

#formPartner {
  position: absolute;
  top: 15%;
  right: 15%;
}

.deleteAncetors {
  display: inline-block;
}
